* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url('../img/fundo.jpg');
  background-size: auto 100vh;
  font-family: 'Source Code Pro', monospace;
  height: 100vh;
  font-size: 12px;
}

@media (min-width: 400px) {
  body {
    font-size: 14px;
  }
}

@media (min-width: 800px) {
  body {
    font-size: 18px;
  }
}


@media (min-width: 1200px) {
  body {
    font-size: 22px;
  }
}

header {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
  
.menu {
  background-color: white;
  position: fixed;
  width: 100vw;
  top: 0;
  z-index: 1;
}

.menu a {
  /*background-color: aquamarine;*/
  display: block;
  padding: 10px 20px;
  transition: background-color, color, 1s;
}

.menu a:hover {
  background-color: teal;
  color: white;
}

.menu ul {
  display: flex;
  justify-content: space-around;
}

.menu li {
  list-style: none;
}

a {
  color: teal;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.titulo {
  transform: scale(0.2) translateY(50vw);
  opacity: 0;

  animation: linear 2s animacaoTitulo forwards;
}

@keyframes animacaoTitulo {

  100% {
    transform: scale(1) translateY(0);
    opacity: 1;
  }

}

.site-title, 
.site-subtitle {
  color: whitesmoke;
  text-align: center;
}

.site-title {
  font-family: 'Gloria Hallelujah', cursive;
  font-size: 4em;
}

.site-subtitle {
  font-family: 'Press Start 2P', cursive;
  font-size: 1.5em;
  font-style: italic;
  line-height: 1.5em;
}

.contato,
.portfolio {
  padding: 2em;
  min-height: 100vh;
}

.portfolio figure {
  text-align: center;
}

.contato h2,
.portfolio h2 {
  font-family: 'Press Start 2P', cursive;
  font-size: 1.5em;
  color: whitesmoke;
  margin-bottom: 1.5em;
  text-align: center;
}

.portfolio .grid {
  display: grid;
  gap: 2em;
}

@media (min-width: 560px) {
  .portfolio .grid {
    grid-template-columns: 240px 240px;
  }
}

@media (min-width: 880px) {
  .portfolio .grid {
    grid-template-columns: repeat(3, 240px);
    align-content: center;
    justify-content: center;
    height: calc(100vh - 10.5em);
  }
}

.img-portfolio {
  height: 180px;
  width: 240px;
  object-fit: cover;
  object-position: left bottom;
  transform: scale(1);
  transition: transform, 1s;
}

.img-portfolio:hover {
  transform: scale(1.2) rotate(10deg);
}

/*@media (min-width: 1000px) {
  .img-portfolio {
    width: 100%;
    height: auto;
  }
}*/

.contato .icons {
  text-align: center;
}

.contato a {
  color: whitesmoke;
  font-size: 6em;
  transition: text-shadow 1s;
}

.contato a:active,
.contato a:hover {
  text-decoration: none;
  text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.5);
}